<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集",  edit_user_path(@user) %></p>
  <% end %>
</div>


<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
   <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>タイトル：<%= post_image.title %></p>
  <p>本文:<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>

</div>

<% end %>
いいね一覧
<% @favorite_post_images.each do |post_image| %>
  <%= post_image.title %>
  <p>本文:<%= post_image.caption %></p>
<% end %>

<%= form_tag(search_post_images_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("検索") %>
<% end %>

<%= form_tag(tag_post_images_path, method: :get) do %>
  <%= text_field_tag(:tag, params[:tag]) %>
  <%= submit_tag("タグ検索") %>
<% end %>

