<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集",  edit_user_path(@user) %></p>
  <% end %>
</div>



いいね一覧
<% @favorite_post_images.each do |post_image| %>
  <%= post_image.title %>
  <p>本文:<%= post_image.caption %></p>
<% end %>

<%= form_tag(search_post_images_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("検索") %>
<% end %>

<%= form_tag(tag_post_images_path, method: :get) do %>
  <%= text_field_tag(:tag, params[:tag]) %>
  <%= submit_tag("タグ検索") %>
<% end %>

<%= render 'post_images/list', post_images: @post_images %>