<div class="text-center">
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集",  edit_user_path(@user) %></p>
  <% end %>
</div>


<div class="text-center">
 <div class="p-3 mb-2 bg-warning text-dark"><h2>いいね一覧</h2></div>
 <% @favorite_post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
   <%= image_tag post_image.get_image %>
  <% end %>
  <div class="font-weight-bold text-success"><タイトル></div><%= post_image.title %>
  <div class="font-weight-bold text-success"><本文></div><%= post_image.caption %></p>
 <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>