<h1 class="bg-info text-center text-white">マイページ</h1>

<div class="text-center">
  <h3><u><%= @user.name %></u></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "text-info" %></p>
  <% end %>
</div>


<div class="text-center">
 <h1 class="text-center text-danger">|いいね一覧|</h1>
 <% @favorite_post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
   <%= image_tag post_image.get_image %>
  <% end %>
  <div class="font-weight-bold text-success"><タイトル></div><%= post_image.title %>
  <div class="font-weight-bold text-success"><本文></div><%= post_image.caption %></p>
 <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>