<!DOCTYPE html>
<html>
  <head>
    <title>SakuraNeko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/6d9a1fd727.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
      <nav class="navbar bg-body-tertiary">
       <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
       </div>
      </nav>
       </div>
        <% if user_signed_in? %>
         <li>
          <%= link_to '投稿フォーム', new_post_image_path %>
         </li>
         <li>
          <%= link_to 'マイページ', user_path(current_user.id) %>
         </li>
         <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
         </li>
        <% else %>
         <li>
          <%= link_to "新規登録", new_user_registration_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_user_session_path %>
         </li>
        <% end %>
     </header>
    <%= yield %>
  </body>
</html>
