<!DOCTYPE html>
<html>
  <head>
    <title>SakuraNeko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d9a1fd727.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="container-fluid">
      <nav class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <a class="navbar-brand" href="/post_images">sakuraneko</a>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <% if user_signed_in? %>
                  <li class="d-inline-block">
                    <%= link_to '投稿フォーム', new_post_image_path %>
                  </li>
                  <li class="d-inline-block">
                    <%= link_to 'マイページ', user_path(current_user.id) %>
                  </li>
                  <li class="d-inline-block">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li class="d-inline-block">
                    <%= link_to "新規登録", new_user_registration_path %>
                  </li>
                  <li class="d-inline-block">
                    <%= link_to "ログイン", new_user_session_path %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= form_tag(search_post_images_path, method: :get, class: "form-inline") do %>
                <div class="form-group mb-2">
                  <%= text_field_tag(:search, params[:search], class: "form-control mr-sm-2") %>
                  <%= submit_tag("検索", class: "btn btn-outline-info") %>
                </div>
              <% end %>
            </div>
            <div class="col-sm-12">
              <%= form_tag(tag_post_images_path, method: :get, class: "form-inline") do %>
                <div class="form-group mb-2">
                  <%= text_field_tag(:tag, params[:tag], class: "form-control mr-sm-2") %>
                  <%= submit_tag("タグ検索", class:"btn btn-outline-info") %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
